body {
    background: url(fon.png) no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.contex {
    text-align: center;
    color: rgb(226, 137, 105);
    font-style: italic;
    font-size: large;
}

h2 {
    text-align: center;
    color: coral;
}
h3 {
    color: coral;
    padding: 0px 0px 0px 30px;
}
li {
    color: coral; 
    /* font-size: 16px; */
}
a { 
    color: coral; 
    text-decoration: none;
    font-weight: bolder;
    font-style: italic;
    padding: 0px 0px 0px 30px;
}